@import 'tailwindcss';
@import 'tw-animate-css';
@import './shadcn.css';
@import 'vue-sonner/style.css';

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
